<%= form_for [:cms_admin, @new_page] do |f| %>
  <p>
    <%= f.text_field :name, :placeholder => "Name" %>

    <%= f.collection_select :parent_page_id, @pages, :id, :name, {:include_blank => 'Parent'} %>
    <%= f.submit "New" %>
  </p>
<% end %>

<p><%= link_to "Global content", cms_admin_cms_pages_path %>
<% @pages.each do |page| %>
  <p>
    <%= link_to page, edit_cms_admin_cms_page_url(page) %>
    <%= link_to "X", cms_admin_cms_page_path(page), :method => :delete, :confirm => "Are you sure you want to delete this page?" %>
  </p>
<% end %>

